* {
    margin : 0;
    padding:0;
}

body{
 display : flex;
 flex-direction : column;
 font-family: "prompt", sans-serif;
}

.global {
    display : flex;
    justify-content: center;
    min-height : 40vh;
}

.global > section,
.global > header,
.global > footer {
    flex : 0 1 900px;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#entete{
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
    position: relative;
}
#accueil{
    display: flex;
    flex-direction: column;
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-accueil);
    position: relative;
}
#evenement{
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-evenement);
    position: relative;
}
#galerie{
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-galerie);
    z-index: 1;
    background: linear-gradient(180deg, var(--couleur-arriere-evenement), var(--couleur-arriere-galerie), var(--couleur-arriere-galerie));
}
#footer{
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
    position: relative;
    z-index: 2;
}

.bouton {
    background-color: var(--couleur-arriere-accueil);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border: 3px solid black;
}

.citation {
    background: var(--couleur-arriere-evenement);
    border: 3px solid black;
    margin: 1.5em 10px;
    padding: 2em 30px;
    border-radius: 10px;
  }