* {
    margin : 0;
    padding:0;
}

body{
 display : flex;
 flex-direction : column;
 font-family: "prompt", sans-serif;
}
header{
    z-index: 3;
}

.global {
    display : flex;
    justify-content: center;
    min-height : 40vh;
}
.global > header{
    flex: 0 1 1300px;
}

.global > section,
.global > header,
.global > footer {
    flex : 0 1 1100px;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#entete{
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
    position: relative;
}
#accueil{
    display: flex;
    flex-direction: column;
    background-color: var(--couleur-arriere-accueil);
    color: rgb(255, 252, 233);
    position: relative;
}
#evenement{
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-evenement);
    position: relative;
    color: rgb(253, 212, 212);
}
#galerie{
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-galerie);
    z-index: 1;
    color: rgb(217, 242, 253);
    background: linear-gradient(180deg, var(--couleur-arriere-evenement), var(--couleur-arriere-galerie), var(--couleur-arriere-galerie));
}
#footer{
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
    position: relative;
    z-index: 2;
    color: white;
}

.citation {
    background: var(--couleur-arriere-evenement);
    border: 3px solid rgb(69, 6, 6);
    margin: 1.5em 10px;
    padding: 2em 30px;
    border-radius: 10px;
  }