.section_cours{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
}
.carte{
    display: flex;
    width: 25rem;
    height: 25rem;
    color: var(--couleur-arriere-accueil);
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 50%;
    background-color: rgb(255, 243, 209);
    padding: 1rem;
}

// le tableau se pace sur une colonne en format mobile
@media (min-width: 1000px){
    .carte{
        flex: 0 1 20%;
    }
}