.sociaux{
    display: flex;
    justify-content: center;
    border: none;
    color: rgb(255, 255, 255);
    gap: 2rem;
}
.sociaux path{
    color: rgb(88, 0, 0);

    &:hover{
        color: rgb(210, 246, 255);
     }
}