.sociaux{
    display: flex;
    justify-content: center;
    border: none;
    color: rgb(255, 255, 255);
    gap: 2rem;
}
.sociaux path{
    color: var(--couleur-rouge-foncee);

    &:hover{
        color: rgb(210, 246, 255);
     }
}