.btnFooter {
    background-image: linear-gradient(90deg, var(--couleur-brun-clair), var(--couleur-rouge-clair));
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border: 3px solid var(--couleur-rouge-foncee);

    &:hover{
        background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
        border: 3px solid rgb(0, 0, 0);
     }
}

.btnEvent{
    background-image: linear-gradient(90deg, var(--couleur-brun-clair), var(--couleur-rouge-clair));
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border: 3px solid var(--couleur-rouge-foncee);
    margin-top: 2rem;

    &:hover{
        background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
        border: 3px solid rgb(0, 0, 0);
        cursor: pointer;
    }
}

.recherche_bouton{
    background-image: linear-gradient(90deg, var(--couleur-brun-clair), var(--couleur-rouge-clair));
    color: rgb(255, 255, 255);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    border: 3px solid var(--couleur-rouge-foncee);

    &:hover{
        background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
        border: 3px solid rgb(0, 0, 0);
    }
}