footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

footer .recherche, .sociaux, .btnFooter{
    margin-bottom: 5rem;
}